body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.draftJsKatexPlugin__tex__3cUXo {
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  margin: 20px auto;
  /*padding: 20px;*/
  -webkit-transition: background-color 0.2s fade-in-out;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.draftJsKatexPlugin__activeTeX__1dy99 {
  color: #888;
}

.draftJsKatexPlugin__panel__330KK {
  font-family: "Helvetica", sans-serif;
  font-weight: 200;
}

.draftJsKatexPlugin__panel__330KK .draftJsKatexPlugin__texValue__3bIH_ {
  border: 1px solid #e1e1e1;
  display: block;
  font-family: "Inconsolata", "Menlo", monospace;
  font-size: 14px;
  height: 110px;
  margin: 20px auto 10px;
  outline: none;
  padding: 14px;
  resize: none;
  -webkit-box-sizing: border-box;
  width: 500px;
}

.draftJsKatexPlugin__buttons__uSU4b {
  text-align: center;
}

.draftJsKatexPlugin__saveButton__Gu8cY,
.draftJsKatexPlugin__removeButton__cDoFb {
  background-color: #fff;
  border: 1px solid #5890ff;
  cursor: pointer;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 10px auto;
  padding: 6px;
  -webkit-border-radius: 3px;
  width: 100px;
}

.draftJsKatexPlugin__removeButton__cDoFb {
  border-color: #aaa;
  color: #999;
  margin-left: 8px;
}

.draftJsKatexPlugin__invalidButton__12Wrj {
  background-color: #eee;
  border-color: #a00;
  color: #666;
}

.draftJsKatexPlugin__insertButton__2uR4O {
  box-sizing: border-box;
  border: none;
  height: 1.5em;
  color: #999;
  line-height: 1em;
  cursor: pointer;
  background-color: #fff;
  border-radius: 20px;
  width: 2.5em;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-right: 12px;
}

.draftJsKatexPlugin__insertButton__2uR4O:focus {
  background-color: #eee;
  color: #999;
  outline: 0; /* reset for :focus */
}

.draftJsKatexPlugin__insertButton__2uR4O:hover {
  background-color: #eee;
  color: #999;
}

.draftJsKatexPlugin__insertButton__2uR4O:active {
  background-color: #ddd;
  color: #777;
}

.draftJsKatexPlugin__insertButton__2uR4O:disabled {
  background-color: #f5f5f5;
  color: #ccc;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px 0;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
  border: none;
  background: #fff;
  transition: 0.2s color;
  outline: none;
}

.RichEditor-styleButton:hover,
.RichEditor-styleButton:focus {
  color: #8bb2ff;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.editor-outer {
  padding: 14px 0;
  background: rgb(244, 244, 244);
}

.editor-inner {
  margin: 0 auto;
  background: #fff;
  min-height: 90vh;
  width: 60%;
  box-shadow: 0px 0px 1px 0px rgba(10, 22, 70, 0.06),
    0px 6px 6px -1px rgba(10, 22, 70, 0.1);
  padding: 2em;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
